# Directories
/*
!kitty/
!kanata/
!hypr/
!nvim/
!yazi/
!waybar/
!systemd/
!fastfetch/
!walker/

# Unwanted files
kdenlive-layoutsrc
kdenliverc
mimeapps.list
omarchy.ttf
QtProject.conf
todo.md
xdg-terminals.list
brave-flags.conf
chromium-flags.conf
user-dirs.dirs
user-dirs.locale
hypr/shaders
